* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #c1c1c1;
  line-height: 28px;
}

h1 {
  font-family: "bungee shade", sans-serif;
  color: black;
  line-height: 95px;
  font-size: 100px;
  text-align: center;

}

h3 {
  font-family: "lobster", sans-serif;
  color: white;
  line-height: 95px;
  font-size: 50px;
  text-align: center;

}

h2 {
  font-family: "bungee shade", sans-serif;
  color: black;
  line-height: 95px;
  font-size: 70px;
  text-align: center;
}

hr {
  margin: 32px 0;
}

.img-box {
  position: relative;
  height: 600px;
  background-image: url("https://i.ibb.co/2nQppq2/blur-tress.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.img-box h1 {
  margin: 0;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -77.5px;
}

.img-box h3 {
  margin: 0;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -99px;
}

.img-box .scroll {
  width: 2px;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  background-color: #fff;
}

@-webkit-keyframes example {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}

@keyframes example {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
article {
  text-align: center;
  width: 60%;
  margin: 200px auto;
}
article p {
  margin-top: 32px;
}

.clothes {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

figure {
  margin: 16px 0;
  width: 30%;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease-in;
}
figure.show {
  opacity: 1;
  transform: translateX(0px);
}

img {
  width: 100%;
  height: auto;
}